<h1>Mural</h1>

<!-- Caso nao exista posts -->
<% if !@posts.any? %>
    <p>
        Nenhum post cadastrado por enquanto.
    </p>
<% end %>

<!-- #Caso exista post-->
<div id="posts">
    <%= render @posts %>
</div>